# .env.example

# PostgreSQL database credentials
PG_USER=your_database_user
PG_HOST=your_database_host
PG_DATABASE=your_database_name
PG_PASSWORD=your_database_password
PG_PORT=your_database_port

# Example:
# PG_USER="myuser"
# PG_HOST="localhost"
# PG_DATABASE="mydatabase"
# PG_PASSWORD="mypassword"
# PG_PORT="5432"
