<%- include("header.ejs") %>

    <div class="px-4 py-5 my-5">
        <h1 class="display-5 fw-bold text-body-emphasis text-center description-heading"> <%= bookReq.title %> </h1>
        <div class="col-lg-10 mx-auto">
            <p class="lead" style="white-space: pre-wrap; word-wrap: break-word; font-family: 'Rubik', sans-serif; font-size: 28px; font-weight: 400;">
                <%= bookReq.description %>
            </p>
        </div>        
    </div>

<%- include("footer.ejs") %>